.game{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
    width: 100%;

    &__playContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;

        &__article{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            max-width: 12rem;

            p{
                text-align: center;
            }


            &__div{
                width: 9rem;
                height: 9rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: white;
                box-sizing: border-box;
                margin-bottom: 2rem;

                &__empty{
                    width: 9rem;
                    height: 9rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: black;
                    opacity: 0.15;
                    border-radius: 50%;
                    transform: scale(0.8);

                    &:first-child{
                        cursor: pointer;
                    }
                }
            }
        }

        &__bestScore{
            text-align: center;
        }
    }

    &__rules{
        text-decoration: none;
        background-color: transparent;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 3px;
        font-size: 1rem;
        border: 2px solid white;
        border-radius: 0.5rem;
        padding: 0.75rem 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        right: 0;
        margin: 0 auto;
        cursor: pointer;
        transition: 0.25s;

        &:hover{
            background-color: white;
            color: $darkText;
        }
    }
}