*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
}

body{
    background: radial-gradient(ellipse at top center, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
    min-height: -webkit-fill-available;
}

#shadow {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 9;
    display: none;
  }

.rock{
    border: 1.1rem solid $rock_Gradient;
    box-shadow: 0px 0.4rem 1px hsl(349, 55%, 36%);
}

.paper{
    border: 1.1rem solid $paper_Gradient;
    box-shadow: 0px 0.4rem 1px hsl(230, 54%, 44%);
}

.scissors{
    border: 1.1rem solid $scissors_Gradient;
    box-shadow: 0px 0.4rem 1px hsl(39, 88%, 38%);
}