$scissors_Gradient: hsl(39, 89%, 49%);
$paper_Gradient: hsl(230, 89%, 62%);
$rock_Gradient: hsl(349, 71%, 52%);
$lizard_Gradient: hsl(261, 73%, 60%);
$cyan: hsl(189, 59%, 53%);

$darkText: hsl(229, 25%, 31%);
$scoreText: hsl(229, 64%, 46%);
$headerOutline: hsl(217, 16%, 45%);